.register-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:0.5fr 1fr 0.5fr;
    grid-template-areas:
    ". top-filler ."
    ". create-an-account-box ."
    ". bottom-filler .";
}
.top-filler{
    grid-area: top-filler;
    border-radius: 20px;
    display: flex;
    align-items: center;

}
.bottom-filler{
    grid-area: bottom-filler;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.create-an-account-box{
    grid-area: create-an-account-box;
    background: #5fa6c2;
    border-radius: 20px;
    align-items: center;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr .3fr;
    grid-template-areas: 
    "cac-details ."
    "row-submit .";
}
.cac-details{
    grid-area: cac-details;
    border-radius: 20px;
    margin-left: 50px;
    align-items: center;
    text-shadow: 0.1rem 0.1rem rgb(138, 134, 134);
}
.row-submit{
    grid-area: row-submit;
    border-radius: 20px;
    margin-left: 50px;
    align-items: center;
}
.cac-details header{
    font-size: 25px;
    font-weight: 600;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    padding-left: 10px;
    width: 200px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}