/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
} */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

nav{
  height: 80px;
  background: #4298f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}
nav a{
  padding: 25px;
}
.nav-text-effects{
  text-shadow: black;
  font-weight: 100;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 50px;
}

.btn-primary {
  color: #fff;
  background-color: #C6D200;
  border-color: #C6D200;
}

/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #004C89;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
}

.bgColor {
    background-color: grey;
}

.container {
  min-height: 100%;
}

.labelFont {
  font-size: 18px;
  font-weight: bold;
}
.defaultFont {
  color: #004C89;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  
}
.center {       
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 100%;
 }
 .bottom {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 70%;
 }
 
.loginFont{
  font-size:30px;
  color:#004C89;
}
.inputFields{
  background-color: #d6d4d4;
  border-color: #d6d4d4;
  border-radius: 25px;
  width: 50%;
  height: 50px;
}
.reviewCanvas {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 70%;
}
.reviewLabel{
  display: inline-block;
  clear: left;
  width: 250px;
  text-align: right;
  padding-bottom: 20px;
}
.reviewInput{
  display: inline-block;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
* {
  box-sizing: border-box;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 12%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border: solid black 2px;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}



.tableHead{
  background-color: #004C89;
  color: #f1f1f1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#videoBG {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: auto;
}
.objectivesCanvas {
  margin: 0;
  position: relative;
  top: 50%;
  left: 30%;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 70%;
  margin-bottom: 120px;
}
.progressCanvas {
  margin: 0;
  position: relative;
  top: 50%;
  left: 30%;
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 70%;
  
}
table {
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;   
}
th,td {
  overflow: auto;
  word-wrap: break-word;
  
}
th{
  background-color: #004C89;
  color: #f1f1f1;
}

.appraisalAnswered {       
  margin: 0;
  position: relative;
  top: 50%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 100%;
 }
 .appraisalPending {       
  margin: 0;
  position: absolute;
  top: 10%;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  border: 2px solid black;
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  box-shadow:  4px 4px 30px black;
  max-width: 40%;
  max-height: 100%;
 }