.va-grid{
    display: grid;
    grid-template-columns: .5fr 1fr 3fr 1fr;
    grid-template-rows: .1fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 10rem;
    grid-template-areas: 
    ". . . ."
    " . field-box qna-box."
    " . .qna-box ."
    " . . qna-box .";
}

.field-box{
    grid-area: field-box;
    border-radius: 10px;
    background: rgb(81, 83, 81);
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.va-table-row{
    grid-area: va-table-row;
    border-radius: 10px;
    background: rgb(81, 83, 81, 0.3);
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.field-box header{
    font-size: 20px;
    font-weight: 800;
    color: rgb(241, 241, 241);
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
.field-box a{
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 225, 255);
    align-self: center;
}

.qna-box{
    grid-area: qna-box;
    display: flex;
    border-radius: 10px;
    background: rgb(81, 83, 81, 0.3);
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.qna-box th{
    text-align: center;
}
.qna-box .answer{
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
}

.line-1 {
    height: 1px;
    background: black;
  }
  